:root {
  --Dark_Blue: hsl(233, 26%, 24%);
  --Lime_Green: hsl(136, 65%, 51%);
  --Bright_Cyan: hsl(192, 70%, 51%);

  /* Neutral */

  --Grayish_Blue: hsl(233, 8%, 62%);
  --Light_Grayish_Blue: hsl(220, 16%, 96%);
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  /* transition: 0.4s linear; */
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  background-image: url(./images/bg-intro-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.3rem;
  padding-block: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--White);
  position: sticky;
  z-index: 2;
}

.nav__logo {
  max-width: 150px;
  width: 100%;
}

.nav__logo img {
  width: 100%;
  height: auto;
}

.nav__links {
  display: none;
}

.mockups {
  max-width: 350px;
  margin-inline: auto;
  margin-top: -9rem;
  margin-bottom: 1.3rem;
}

.mockups img {
  width: 100%;
  height: auto;
}

.section__1 .header__text {
  font-size: 2.3rem;
  color: var(--Dark_Blue);
  font-weight: 500;
  margin-inline: auto;
  margin-bottom: 0.8rem;
  text-align: center;
  line-height: 2.8rem;
}

.section__1 .header__paragraph {
  font-size: 0.96rem;
  width: 90%;
  margin-inline: auto;
  text-align: center;
  line-height: 1.4rem;
  color: var(--Grayish_Blue);
  margin-bottom: 1.6rem;
}

.section__1 .btn {
  max-width: 50%;
  display: block;
  margin-inline: auto;
  padding-inline: 1.5rem;
  padding-block: 0.9rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--Lime_Green),
    var(--Bright_Cyan)
  );
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5.5rem;
}

button:hover {
  cursor: pointer;
}

.section__2 {
  background-color: var(--Light_Grayish_Blue);
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.section__2 h2 {
  text-align: center;
  width: 50%;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.001rem;
  color: var(--Dark_Blue);
  padding-bottom: 1.2rem;
}

.section__2 p {
  max-width: 80%;
  margin: auto;
  text-align: center;
  color: var(--Grayish_Blue);
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.3rem;
}

.section__2 p.sub__text {
  padding-bottom: 3rem;
}

.icon {
  width: 20%;
  margin-inline: auto;
  margin-bottom: 1.3rem;
}

.icon img {
  width: 100%;
}

.section__2 h3 {
  max-width: 60%;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 0.9rem;
  color: var(--Dark_Blue);
  font-weight: normal;
}

.section__2 p {
  font-weight: 300;
}

.grouped {
  margin-bottom: 2rem;
}

.section__3 {
  padding-top: 4rem;
}

.section__3 h3.section__header {
  color: var(--Dark_Blue);
  text-align: center;
  width: 70%;
  margin-inline: auto;
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom:1.3rem;

}
